proyecto Python Diego/ejercicio1.dtd

<!ELEMENT paises (pais+)>
<!ELEMENT pais ((nombre, habitantes, extension, gobierno, idiomas?,hombres)|(nombre, extension?, habitantes?, gobierno, idiomas?,mujeres))>
<!ATTLIST gobierno
          fecha CDATA #IMPLIED
          tipo (republica_federal|republica_islamica|monarquia|dictadura) #REQUIRED>
<!ELEMENT idiomas (idioma+)>
<!ELEMENT idioma (#PCDATA)>
<!ATTLIST idioma
          nombre CDATA #REQUIRED>
